.hero .container {
  min-height: var(--mh);
}

.hero .container > .grid.relative {
  margin-left: 16px;
}

@screen md {
  .hero .container > .grid.relative {
    margin-left: 10px;
  }
}

@screen xl {
  .hero .container > .grid.relative {
    margin-left: 122px;
  }
}

.hero.white_background {
  background: linear-gradient(335deg, #e3e5f0 37%, white 42.17%);
}

.hero .logo {
  margin-bottom: 32px;
}

.hero .logo .watchup {
  margin-top: 48px;
  width: 64px;
  height: 64px;
}

@screen md {
  .hero .logo .watchup {
    margin-top: 85px;
  }
}

.hero .logo ._logo {
  margin-top: 24px;
}

@screen md {
  .hero .logo ._logo {
    margin-top: 56px;
  }
}

.hero .double_col .grid {
  min-height: calc(var(--mh) - 200px);
}

@screen md {
  .hero .double_col .grid {
    min-height: calc(var(--mh) - 261px);
  }
}

.hero .hero_left {
  height: 390px;
  margin-bottom: 62px;
}

@screen md {
  .hero .hero_left {
    height: auto;
    margin-bottom: 0;
  }
}

.hero .hero_left h1.hero_title {
  width: 90vw;
}

@screen md {
  .hero .hero_left h1.hero_title {
    margin-top: 32px;
    width: 100%;
    position: relative;
    z-index: 100;
  }
}

@screen xl {
  .hero .hero_left h1.hero_title {
    margin-top: 32px;
    width: 100%;
    position: unset;
    background: unset;
  }
}

.hero .hero_left .description {
  width: 90vw;
  font-size: 18px;
  line-height: 28px;
  margin-top: 24px;
  padding-right: 20px;
}

@screen md {
  .hero .hero_left .description {
    padding-right: 0;
    width: 100%;
    margin-top: 25px;
    font-size: 24px;
    line-height: 32px;
  }
}

.hero .hero_left button {
  padding: 23px 32px;
  border-radius: 96px;
  width: 100%;
  max-width: 337px;
  height: 64px;
  align-items: center;
  line-height: 1;
}

.hero .hero_left .btn-desc {
  width: 100%;
  max-width: 337px;
  text-align: center;
}

.hero .hero_right {
  overflow: hidden;
  bottom: 70px;
  right: 7%;
  width: 107%;
}

@screen md {
  .hero .hero_right {
    bottom: 200px;
    left: 10vw;
    width: 47vw;
  }
}

@screen xl {
  .hero .hero_right {
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
  }
}

.hero .hero_right .chat .back_ {
  height: 547px;
}

@screen osm {
  .hero .hero_right .chat .back_ img {
    display: none;
  }
}

.hero .hero_right .chat .cross {
  position: absolute;
  bottom: 30px;
  left: 90px;
  width: 30px;
}

.hero .hero_right .chat .message_ .speech {
  padding: 7px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  width: 215px;
}

@screen md {
  .hero .hero_right .chat .message_ .speech {
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 285px;
  }
}

@screen osm {
  .hero .hero_right .chat .pc {
    top: -70px;
    position: absolute;
    right: 10vw;
    width: 380px;
  }
}

@screen osm {
  .hero .hero_right .chat .pc .avatar {
    display: none;
  }
}

@screen osm {
  .hero .hero_right .chat .pc .status {
    display: none;
  }
}

.hero .hero_right .chat .mobile {
  height: 210px;
  width: 99vw;
  top: 230px;
  right: 1vw;
  display: grid;
  align-items: center;
  justify-items: stretch;
}

@screen md {
  .hero .hero_right .chat .mobile {
    display: none;
  }
}

.hero .hero_right .chat .mobile .message_ .speech {
  width: calc(100vw - 121px);
}

.hero .hero_right .chat .mobile .avatar {
  width: 34px;
  margin: 10px;
}

.hero .hero_right .chat .mobile .avatar .status {
  top: 23px;
  left: 20px;
}

.hero .sponsors {
  right: 6vw;
  bottom: 45px;
}

@screen osm {
  .hero .sponsors {
    right: 5vw;
  }
}

@screen md {
  .hero .sponsors {
    right: unset;
    width: 100%;
    bottom: 50px;
  }
}

.hero .sponsors h4 {
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 3.5vw;
  line-height: 24px;
  color: #828cae;
}

@screen md {
  .hero .sponsors h4 {
    margin-bottom: 24px;
    font-size: 14px;
  }
}

.hero .sponsors .items-center img {
  margin: 0 12px;
}

.hero .sponsors .items-center img:nth-child(6), .hero .sponsors .items-center img:nth-child(5), .hero .sponsors .items-center img:nth-child(4) {
  display: none;
}

@screen md {
  .hero .sponsors .items-center img {
    margin: 0 16px;
  }
  .hero .sponsors .items-center img:nth-child(6) {
    display: none;
  }
  .hero .sponsors .items-center img:nth-child(4), .hero .sponsors .items-center img:nth-child(5) {
    display: block;
  }
}

@screen xl {
  .hero .sponsors .items-center img:nth-child(6), .hero .sponsors .items-center img:nth-child(5), .hero .sponsors .items-center img:nth-child(4) {
    display: block;
  }
}
